.cardContainer {
    background-color: orange;
    font-family: arial;
    font-size: 24px;
    /* width: 200px; */
    /* height: 200px; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* outline: dashed 1px black; */
    margin: 25px;
    padding: 25px;
}

p{
    text-align: center;
}

.priceContainerUp {
    font-size: 16px;
    color: green;
    /* background-color: #1d1d1d; */
    /* border-radius: 8px;
    padding: 8px;
    border: 0; */
}

.priceContainerDown {
    font-size: 16px;
    color: red;
    /* background-color: #1d1d1d; */
    /* border-radius: 8px;
    padding: 8px;
    border: 0; */
}

.priceContainerEqual {
    font-size: 16px;
    color: white;
    /* background-color: #1d1d1d; */
    /* border-radius: 8px;
    padding: 8px;
    border: 0; */
    
}

.timeContainer {
}
